{% extends "notflix/template.html" %}

{% block scripts %}
  <script defer type="text/javascript" src="{{url_for('static', filename='notflix/search.js')}}"></script>

{% endblock %}

{% block content %}
<div class="container-fluid mt-3">
  <div class="container-xl">
    <div class="row">
      <div class="col">
        <div class="card bg-dark">
          <div class="card-body ">
            <h5 class="card-title text-white"> Busqueda</h5>
            <input id="input-search" type="text" class="form-control">
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col">
        <div id="row-movies" class="row row-cols-1 row-cols-md-2 row-cols-lg-3 mt-3">
          <template id="template-card-movie">
            <a id="template-movie-details" href="" style="color: inherit; text-decoration: inherit;">
            <div class="col mb-4">
              <div class="background">
                <div class="card border-0  mb-3 bg-dark">
                  <div class="row no-gutters">
                    <div class="col-sm-4 p-3">
                      <img id="template-img-header" src="" class="card-img h-100">
                    </div>
                    <div class="col-sm-8">
                      <div class="card-body text-white">
                        <h5 id="template-movie-title" class="card-title text-white"></h5>
                        <h6 id="template-movie-year" class="card-subtitle mb-2 text-muted"></h6>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </template>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
