.overlay-div{
   height:100%;
   width: 100%;
   position:absolute;
   background-color:#000;
   opacity:.30;
}
.text-white{
  color: rgba(255,255,255,0.87) !important;
}
.text-white-normal{
  color: rgba(255,255,255,0.60) !important;
}

.bg-dark{
  background-color: rgba(255,255,255,0.1) !important;
}
/* Responsive Fonts */
@media (max-width: 1200px) {
  legend {
    font-size: calc(1.275rem + 0.3vw) !important;
  }
  h1, .h1 {
    font-size: calc(1.375rem + 1.5vw) !important;
  }
  h2, .h2 {
    font-size: calc(1.325rem + 0.9vw) !important;
  }
  h3, .h3 {
    font-size: calc(1.3rem + 0.6vw) !important;
  }
  h4, .h4 {
    font-size: calc(1.275rem + 0.3vw) !important;
  }
  h6, .h6 {
  	font-size: calc(0.82rem + 0.3vw) !important;
  }
  .display-1 {
    font-size: calc(1.725rem + 5.7vw) !important;
  }
  .display-2 {
    font-size: calc(1.675rem + 5.1vw) !important;
  }
  .display-3 {
    font-size: calc(1.575rem + 3.9vw) !important;
  }
  .display-4 {
    font-size: calc(1.475rem + 2.7vw) !important;
  }
  .close {
    font-size: calc(1.275rem + 0.3vw) !important;
  }

}


/* MDI */
.alert.mdi::before,
.breadcrumb .mdi::before,
.btn.mdi::before,
.card-title.mdi::before,
.card-subtitle.mdi::before,
.card-link.mdi::before,
.dropdown-item.mdi::before,
.list-group-item.mdi::before,
.nav-link.mdi::before {
    font-size: 1.25em;
    line-height: initial;
    position: relative;
    top: 0.09rem;
}
.alert.mdi::before,
.breadcrumb .mdi:not(:empty)::before,
.btn.mdi:not(:empty)::before,
.card-title.mdi:not(:empty)::before,
.card-subtitle.mdi:not(:empty)::before,
.card-link.mdi:not(:empty)::before,
.dropdown-item.mdi:not(:empty)::before,
.nav-link.mdi:not(:empty)::before {
    margin-right: 0.25rem;
}
.list-group-item.mdi:not(:empty)::before {
    margin-right: 0.5rem;
}
.dropdown-item.mdi:not(:empty)::before {
    margin-left: -0.75rem;
}
.alert.mdi::before,
.list-group-item.mdi:not(:empty)::before {
    margin-left: -0.5rem;
}
.modal-title.mdi::before {
    font-size: 1.5em;
    line-height: 0.5;
    position: relative;
    top: 0.26rem;
    margin-right: 0.5rem;
}
